@media (max-width: 575.98px) {
  .navigation {
    background:#ffffff10!important;
  }
  .intro h1 {
    font-size: 24px;
    line-height: 28px;
  }

  .intro p {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Small devices */
@media (min-width: 576px) {
  .navigation {
    padding: 37px;
  }

  .logo_area span {
    display: block!important;
  }

  .container {
    width: 100% !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 100% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navigation {
    padding: 1.5rem 3rem !important;
  }

  .logo_area span {
    display: inline-block;
  }

  .container {
    width: 75% !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navigation {
    padding: 1.5rem 3rem !important;
  }

  .logo_area span {
    display: inline-block;
  }

  .container {
    width: 53% !important;
  }
}