a:active, a:hover {
  outline: 0
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0
}

input.w-button {
  -webkit-appearance: button
}

.w-form-done {
  text-align: center
}

h4, h5, h6 {
  margin-top: 10px
}

p {
  margin-top: 0
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 10px
}

h1, h3 {
  margin-top: 20px
}

h4 {
  font-size: 18px;
  line-height: 24px
}

h5 {
  font-size: 14px;
  line-height: 20px
}

h6 {
  font-size: 12px;
  line-height: 18px
}

blockquote, figure {
  margin: 0 0 10px
}

button, html input[type=button], input[type=reset] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button
}

.w-form {
  margin: 0 0 15px
}

label {
  display: block;
  margin-bottom: 5px
}

.w-input, {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc
}

.w-input:-moz-placeholder {
  color: #999
}

.w-input::-moz-placeholder {
  color: #999;
  opacity: 1
}

.w-input:-ms-input-placeholder {
  color: #999
}

.w-input::-webkit-input-placeholder {
  color: #999
}

.w-input:focus, .w-select:focus {
  border-color: #3898ec;
  outline: 0
}

.w-input[disabled], .w-input[readonly] {
  cursor: not-allowed;
  background-color: #eee
}

.w-form-label {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0
}

h1, h3 {
  margin-bottom: 10px;
  font-weight: 700
}

blockquote, h2 {
  line-height: 32px
}

.footer-input-extended.is_big, .input.is_big {
  background-position: 97% 50%;
  background-size: 18px
}

.button {
  width: auto
}

a, body {
  color: #111
}

h2 {
  margin-top: 16px;
  margin-bottom: 0;
  padding-bottom: 8px;
  font-size: 28px;
  font-weight: 700
}

blockquote, h3 {
  font-size: 24px
}

h3 {
  line-height: 30px
}

p {
  margin-bottom: 32px
}

a {
  line-height: 24px;
  font-weight: 500;
  text-decoration: underline
}

blockquote {
  margin-bottom: 24px;
  padding: 10px 20px;
  font-weight: 700
}

.button {
  display: inline-block;
  margin-top: 0;
  margin-left: 8px;
  padding: 8px 16px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  border-radius: 6px;
  background-color: #111;
  -webkit-transition: border .2s ease, background-color .2s ease, color .2s ease;
  transition: border .2s ease, background-color .2s ease, color .2s ease;
  color: #fff;
  font-weight: 500;
  text-align: center
}

.button.primary {
  background-color: #111;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4)
}

.button.primary.text-white {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: #fff;
  color: #111
}

.button.primary.text-white.margin_right {
  margin-right: 32px;
  font-weight: 500
}

.button.outline {
  border: 1.5px solid #ccc;
  background-color: transparent;
  color: #111
}

.button.outline:hover {
  background-color: rgba(242, 244, 247, .5)
}

.button_small {
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  text-align: center
}

.header {
  padding: 40px;
  border-bottom: 1px solid #f2f4f7
}

.input, .input.is_big {
  background-color: #f3f3f3
}

.input {
  margin-top: 0;
  margin-bottom: 0;
  padding: 22px 16px;
  border: 0 solid #000;
  border-radius: 6px;
  -webkit-transition: box-shadow .2s ease;
  transition: box-shadow .2s ease
}

.input:focus {
  border-width: 0;
  box-shadow: inset 0 0 0 2px #999
}

.input::-webkit-input-placeholder {
  color: #999
}

.input:-ms-input-placeholder {
  color: #999
}

.input::-ms-input-placeholder {
  color: #999
}

.input::placeholder {
  color: #999
}

.input.is_big {
  height: 56px;
  background-image: url(https://assets.website-files.com/5dc998365e5d7d5d022a83cb/5dcd60ab3bec65663531af01_return.svg);
  box-shadow: none;
  -webkit-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease;
  color: #111;
  font-size: 16px
}

.input.is_big.is_dark, .input.is_big:focus {
  background-image: url(https://assets.website-files.com/5dc998365e5d7d5d022a83cb/5df16d6a9bca42e9ff18435d_return_white.svg);
  color: #fff
}

.input.is_big:focus {
  background-color: #111
}

.input.is_big.is_dark {
  background-color: #272727
}

.input.is_big.is_dark:focus {
  background-color: #fff;
  background-image: url(https://assets.website-files.com/5dc998365e5d7d5d022a83cb/5dcd60ab3bec65663531af01_return.svg);
  color: #272727
}

.input.is_big.is_dark.no_bg {
  background-image: none
}

.input.margin_right {
  height: 40px;
  min-width: 300px;
  margin-right: 8px
}

.blockquote {
  margin-top: 32px;
  margin-bottom: 32px
}

.button_small {
  padding: 2px 10px;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 6px;
  background-color: #774ee0;
  -webkit-transition: border .2s ease, background-color .2s ease, color .2s ease;
  transition: border .2s ease, background-color .2s ease, color .2s ease;
  color: #fff;
  font-size: 14px;
  font-weight: 500
}

.button_small.primary {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #111
}

.button_small.outline {
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #111
}

.button_small.outline:hover {
  border-color: #2c1c1c;
  background-color: #111;
  color: #fff
}

.button_small.outline.is_dark {
  border-width: 1px;
  border-color: #555;
  color: #fff
}

.button_small.outline.is_dark:hover {
  border-color: #fff;
  background-color: #fff;
  color: #111
}

.h2_title {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 40px
}

.h2_title.is_centered {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center
}

.h2_title.is_centered.text-white {
  max-width: 80%;
  color: #fff
}

.h2_title.text-white.mt0.pb0 {
  padding-bottom: 0
}

.h2_title.is_home_page {
  margin-top: 24px;
  padding-bottom: 0
}

.bottom_cta_wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column
}

.input_container {
  margin-bottom: 16px
}

.bottom_cta_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox
}

.arrow_gray, .is_muted, .title_muted {
  color: #999
}

.bottom_cta_wrapper {
  display: flex;
  max-width: 960px;
  margin: 144px auto;
  padding: 0 88px;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.bottom_cta_wrapper.is_pro {
  border-color: #eb4962
}

.bottom_cta_wrapper.is_team {
  border-color: #774ee0
}

.bottom_cta_wrapper.no_border {
  border-width: 0
}

.bottom_cta_wrapper.no_border.py0 {
  padding-top: 0;
  padding-bottom: 0
}

.form {
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.link {
  display: none;
  margin-left: -8px;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: transparent;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  color: #111;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none
}

.link:hover {
  background-color: rgba(0, 0, 0, .03);
  text-decoration: none
}

.heading {
  font-size: 26px;
  line-height: 32px
}

.text-block-11 {
  font-weight: 400
}

.div-block-22 {
  margin-top: 34px
}

.text-block-13, .text-block-14, .text-block-20 {
  color: #fff
}

.link-3 {
  color: #fff;
  line-height: 21px;
  text-decoration: none
}

.arrow_gray-2 {
  color: #999
}

.title_muted-2 {
  color: #999
}

.wrapper--s {
  max-width: 752px;
  margin-right: auto;
  margin-left: auto
}

.image-8 {
  margin-right: 16px
}

._3drops_content {
  margin-top: 40px;
  color: #ccc;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500
}

._3drops_testimonials {
  -webkit-transition: background-color .2s ease
}

.text-block-24 {
  color: #fff;
  font-size: 21px;
  line-height: 29px;
  font-weight: 600
}

.text-block-25, .venture_label {
  font-size: 14px;
  font-weight: 500
}

.venture_label {
  margin-left: 8px;
  padding: 3px 8px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 4px;
  background-color: #111;
  color: #fff;
  line-height: 18px
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.text-block-25 {
  color: #ccc;
  line-height: 24px
}

.h3_title {
  margin-top: 18px;
  margin-bottom: 0;
  color: #fff;
  line-height: 32px;
  font-weight: 600
}

.text-block-26 {
  display: block;
  padding-bottom: 16px;
  color: #ccc;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500
}

._3drops_testimonials {
  background-color: #272727
}

.testimonial_name {
  color: #fff;
  line-height: 24px;
  font-weight: 500;
}

.testimonial_name {
  color: #fff;
  line-height: 24px;
  font-weight: 500
}

.testimonial_position {
  color: #999
}

.block-quote {
  margin-top: 24px;
  margin-bottom: 0;
  padding: 0 16px;
  color: #fff;
  font-size: 21px;
  line-height: 29px;
  font-weight: 600
}

.block-quote.is_yellow {
  border-left-color: #eac00b
}

.block-quote.is_pink {
  border-left-color: #e16ac0
}

.block-quote.is_blue {
  border-left-color: #12b2e6
}

._3drops_testimonials {
  margin-top: 8px;
  padding: 24px;
  border-radius: 6px;
  transition: background-color .2s ease
}

.link-block, .social_link {
  -webkit-transition: background-color .2s ease
}

._3drops_testimonials:hover {
  border-radius: 6px;
  background-color: #272727
}

._3drops_testimonials_figure_wrapper {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.link-block, .link-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox
}

.text-span-8 {
  color: #999
}

.experiments_list_wrapper {
  padding-top: 8px
}

.link-block {
  display: flex;
  padding: 15px 16px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  border-radius: 6px;
  background-color: #1a1a1a;
  transition: background-color .2s ease
}

.link-block-3:hover, .link-block:hover, .social_link:hover {
  background-color: #272727
}

.link-block:hover {
  text-decoration: none
}

.image-9 {
  border-radius: 100%;
  -webkit-transform: translate(-488px, 0);
  -ms-transform: translate(-488px, 0);
  transform: translate(-488px, 0)
}

.link-block-3, .link-block-4 {
  -webkit-transition: background-color .2s ease;
  text-decoration: none
}

.image-10 {
  height: 56px;
  border-radius: 100%;
  box-shadow: 3px 0 16px 0 rgba(0, 0, 0, .16)
}

._3drops_testimonials_heading_wrapper {
  margin-left: 16px
}

.link-block-4 {
  display: flex;
  margin-bottom: 8px;
  padding: 16px;
  border-radius: 6px;
  background-color: #1a1a1a;
  transition: background-color .2s ease
}

.link-block-4:hover {
  background-color: #272727;
  text-decoration: none
}

.collection-list-2 {
  margin-top: 10px
}

.collection-list-2.mt0 {
  margin-top: 0
}

.company_list_wrapper {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0
}

.testimonial_list_wrapper.testimonial_list_wrapper_2, .testimonial_list_wrapper.testimonial_list_wrapper_3 {
  display: block;
  overflow: hidden
}

.div-block-36, .section-margin {
  margin-top: 80px
}

.section-margin-small {
  margin-top: 40px
}

.div-block-42 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox
}

.div-block-42 {
  display: flex
}

.blog-header, .div-block-47 {
  margin-left: auto
}

.footer-menu-item-extended {
  padding-right: 4px;
  padding-left: 4px;
  line-height: 24px
}

.footer-divider-extended {
  height: 3px;
  margin-top: 56px;
  margin-right: 16px;
  margin-left: 16px;
  background-color: #272727
}

.footer-menu-list-extended {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.text-block-41 {
  margin-top: 18px;
  font-size: 21px;
  line-height: 29px;
  font-weight: 600;
  text-align: center
}

.footer-input-extended {
  display: block;
  height: 40px;
  margin-bottom: 0;
  padding: 8px 16px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 304px;
  -ms-flex: 0 304px;
  flex: 0 304px;
  border-style: solid;
  border-width: 2px;
  border-color: #272727;
  border-radius: 6px;
  background-color: #272727;
  -webkit-transition: border .2s ease, color .2s ease;
  transition: border .2s ease, color .2s ease;
  line-height: 24px
}

.footer-input-extended.is_big, .text-block-47 {
  -webkit-transition: color .2s ease, background-color .2s ease
}

.footer-input-extended:hover {
  border-color: #fff
}

.footer-input-extended:focus {
  border-color: #fff;
  box-shadow: none;
  color: #fff
}

.footer-input-extended::-webkit-input-placeholder {
  color: #fff;
  font-weight: 500
}

.footer-input-extended:-ms-input-placeholder {
  color: #fff;
  font-weight: 500
}

.footer-input-extended::-ms-input-placeholder {
  color: #fff;
  font-weight: 500
}

.footer-input-extended::placeholder {
  color: #fff;
  font-weight: 500
}

.footer-input-extended.is_big {
  height: 56px;
  background-color: #f3f3f3;
  background-image: url(https://assets.website-files.com/5dc998365e5d7d5d022a83cb/5dcd60ab3bec65663531af01_return.svg);
  background-repeat: no-repeat;
  box-shadow: none;
  transition: color .2s ease, background-color .2s ease;
  color: #111;
  font-size: 16px
}

.footer-input-extended.is_big:focus {
  background-color: #111;
  background-image: url(https://assets.website-files.com/5dc998365e5d7d5d022a83cb/5df16d6a9bca42e9ff18435d_return_white.svg);
  color: #fff
}

.footer-input-extended.is_big.is_dark {
  background-color: #272727;
  background-image: url(https://assets.website-files.com/5dc998365e5d7d5d022a83cb/5df16d6a9bca42e9ff18435d_return_white.svg);
  color: #fff
}

.footer-input-extended.is_big.is_dark:focus {
  background-color: #fff;
  background-image: url(https://assets.website-files.com/5dc998365e5d7d5d022a83cb/5dcd60ab3bec65663531af01_return.svg);
  color: #272727
}

.footer-input-extended.is_big.is_dark.no_bg {
  background-image: none
}

.footer-input-extended.margin_right {
  height: 40px;
  min-width: 300px;
  margin-right: 8px
}

.footer-input-extended.is_textarea {
  min-height: 120px;
  margin-top: -8px;
  padding-top: 16px
}

.footer-input-extended.is_textarea.is_plain {
  padding-top: 16px
}

.footer-input-extended.is_plain {
  position: relative;
  width: 100%;
  padding: 28px 0;
  border-width: 0 0 1px;
  border-bottom-style: solid;
  border-bottom-color: #eb4962;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: box-shadow .2s ease, border .2s ease;
  transition: box-shadow .2s ease, border .2s ease
}

.footer-input-extended.is_plain:focus, .footer-input-extended.is_plain:hover {
  margin-right: -16px;
  margin-left: -16px;
  padding-right: 16px;
  padding-left: 16px;
  border-bottom-style: none
}

.footer-input-extended.is_plain:hover {
  border-radius: 6px;
  background-color: #f3f3f3;
  box-shadow: 0 1px 0 0 #eee
}

.footer-input-extended.is_plain:focus {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #999
}

.footer-input-extended.is_light {
  border-color: #f3f3f3;
  background-color: #f3f3f3;
  line-height: 24px
}

.footer-input-extended.is_light:hover {
  border-color: #000
}

.footer-input-extended.is_light:focus {
  border-color: #000;
  color: #000
}

.footer-input-extended.is_light::-webkit-input-placeholder {
  color: #000;
  line-height: 24px;
  font-weight: 500
}

.footer-input-extended.is_light:-ms-input-placeholder {
  color: #000;
  line-height: 24px;
  font-weight: 500
}

.footer-input-extended.is_light::-ms-input-placeholder {
  color: #000;
  line-height: 24px;
  font-weight: 500
}

.footer-input-extended.is_light::placeholder {
  color: #000;
  line-height: 24px;
  font-weight: 500
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.footer-newsletter-extended {
  width: 100%;
  max-width: 422px;
  margin-bottom: 0
}

.submit-button {
  display: inline-block;
  margin-left: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
  line-height: 24px;
  font-weight: 500
}

.div-block-57, .div-block-59 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox
}

.submit-button.is_light {
  background-color: #111;
  -webkit-transition: box-shadow .2s ease;
  transition: box-shadow .2s ease;
  color: #fff;
  font-weight: 500
}

.submit-button.is_light:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4)
}

.div-block-57 {
  display: flex;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.div-block-58 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.div-block-59 {
  display: flex;
  max-width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.text-block-42 {
  margin-top: 20px;
  padding: 4px;
  color: #555;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500
}

.text-block-42.is_light {
  color: #999
}

.text-block-43 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500
}

.text-block-44 {
  color: #999;
  line-height: 24px;
  font-weight: 500
}

.text-block-44.is_light, .text-span-9 {
  color: #555
}

.text-block-45, .text-span-9 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500
}

.div-block-63 {
  display: inline-block;
  margin-top: 32px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.div-block-64 {
  margin-top: 24px;
  text-align: center
}

.text-span-9.is_light {
  color: #999
}

.text-block-45 {
  margin-top: 8px;
  color: #999
}

.text-block-45.is_light {
  color: #272727
}

.text-block-46 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none
}

.link-6, .link-7 {
  font-weight: 600;
  text-decoration: none
}

.text-block-46.is_light {
  color: #000;
  text-decoration: none
}

.footer-extended-wrapper {
  max-width: 800px;
  margin-top: 122px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 66px
}

.link-6 {
  color: #eb4962;
  line-height: 32px
}

.link-7 {
  color: #774ee0
}

.link-8 {
  color: #2cbc63;
  font-weight: 700;
  text-decoration: none
}

.link-9 {
  color: #12b2e6;
  font-weight: 600;
  text-decoration: none
}

.text-block-47 {
  margin-top: 20px;
  padding: 4px 8px;
  border-radius: 6px;
  transition: color .2s ease, background-color .2s ease;
  color: #555;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none
}

.text-block-47:hover {
  background-color: hsla(0, 0%, 100%, .08);
  color: #fff
}

.text-block-47.is_light {
  -webkit-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease;
  color: #999
}

.text-block-47.is_light:hover {
  background-color: rgba(0, 0, 0, .03);
  color: #000
}

.content-row {
  padding-right: 16px;
  padding-left: 16px
}

.link-10 {
  color: #999;
  text-decoration: none
}

.link-10:hover {
  text-decoration: underline
}

.link-block-7, .text-span-12 {
  text-decoration: none
}

.link-10.is_light {
  color: #555
}

.div-block-67 {
  text-align: center
}

.div-block-68 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

@media screen and (max-width:991px) {
  .h2_title.is_centered.is_white, .testimonial_list_wrapper {
    max-width: 100%
  }

  .button_small.outline.is_dark, .content_section.is_black.pt0 {
    padding-right: 8px;
    padding-left: 8px
  }

  .bottom_cta_wrapper {
    padding-right: 48px;
    padding-left: 48px
  }

  .button_small-2.outline.is_dark {
    padding-right: 8px;
    padding-left: 8px
  }

  .content_label {
    padding-right: 0;
    padding-left: 0
  }

  ._3drops_testimonials {
    padding-right: 24px;
    padding-left: 24px
  }

  .image-9 {
    left: 0;
    top: 0;
    margin-bottom: 24px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }

  .link-block-4 {
    padding-right: 16px;
    padding-left: 16px
  }

  .div-block-33 {
    padding-right: 40px;
    padding-left: 40px
  }

  .div-block-37, .div-block-40, .div-block-41 {
    padding-right: 16px;
    padding-left: 16px
  }

  .footer-divider-extended {
    margin-right: 32px;
    margin-left: 32px
  }

  .content-row {
    padding-right: 32px;
    padding-left: 32px
  }
}

@media screen and (max-width:767px) {

  body {
    font-size: 14px
  }

  .content {
    padding-left: 32px
  }


  .content_section.content_section--home {
    padding-top: 64px
  }

  .input.is_big.is_dark {
    height: 48px;
    font-size: 14px
  }

  .button_small.outline {
    padding: 4px 8px
  }

  .button_small.outline.is_dark {
    padding-right: 8px;
    padding-left: 8px;
    border-width: 1px
  }

  .h2_title {
    font-size: 21px;
    line-height: 29px
  }

  .hr_divider.div-block-12.is_black {
    margin-top: 15px
  }

  .bottom_cta_wrapper, .bottom_cta_wrapper.no_border.py0.cta_y_spacing {
    margin-top: 120px;
    margin-bottom: 120px
  }

  .bottom_cta_wrapper {
    padding-right: 32px;
    padding-left: 32px
  }

  .h1_title {
    font-size: 24px;
    line-height: 32px
  }

  .text-block-5-3 {
    line-height: 22px
  }

  .div-block-22 {
    margin-top: 26px
  }

  .text-block-15, .text-block-16, .text-block-17, .text-block-18, .text-block-19 {
    color: #fff
  }

  ._3drops_testimonials_figure_wrapper {
    display: block
  }

  .div-block-57, .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
  }

  .text-block-21.wrapper--s {
    font-size: 16px;
    line-height: 24px
  }

  ._3drops_content {
    font-size: 16px;
    line-height: 24px
  }

  .h3_title.mt0, .text-block-24 {
    font-size: 18px;
    line-height: 26px
  }

  .image-8 {
    width: 48px;
    height: 48px
  }

  .h3_title {
    padding-right: 8px;
    padding-left: 8px
  }

  .h3_title.mt0 {
    padding-right: 0;
    padding-left: 0
  }

  ._3drops_testimonials, .link-block-4 {
    padding-right: 24px;
    padding-left: 24px
  }

  .text-block-26 {
    font-size: 16px;
    line-height: 24px
  }

  .testimonial_list_wrapper {
    max-width: 100%
  }

  .div-block-33 {
    padding-right: 8px;
    padding-left: 8px
  }

  .div-block-37 {
    padding-right: 16px;
    padding-left: 16px
  }

  .div-block-39 {
    padding-right: 32px;
    padding-left: 32px
  }

  .div-block-41 {
    padding-right: 16px;
    padding-left: 16px
  }

  .saas_item {
    margin-right: 11px;
    margin-left: 11px
  }

  .footer-menu-item-extended {
    padding-left: 12px
  }

  .footer-divider-extended.div-block-12.is_black {
    margin-top: 15px
  }

  .text-block-41 {
    font-size: 16px;
    line-height: 24px
  }

  .footer-input-extended {
    margin-top: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .footer-input-extended.is_big.is_dark {
    height: 48px;
    font-size: 14px
  }

  .footer-newsletter-extended {
    max-width: none
  }

  .submit-button {
    margin-top: 8px;
    margin-left: 0;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto
  }

  .div-block-57 {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .text-block-43 {
    font-size: 16px;
    line-height: 24px
  }

  .text-block-47 {
    margin-top: 16px
  }
}

@media screen and (max-width:479px) {
  .button, .button.primary.text-white.margin_right {
    margin-right: 0
  }

  h2 {
    font-size: 21px
  }

  .input.is_big {
    padding-right: 8px;
    padding-left: 8px
  }

  .button {
    display: block;
    margin-top: 0;
    margin-left: 0
  }

  .button.primary {
    font-size: 14px
  }

  .button.primary.text-white {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
  }

  .input.is_big, .input.is_big.is_dark {
    font-size: 14px
  }

  .input.is_big {
    height: 40px
  }

  .input.is_big.is_dark:focus {
    font-size: 16px
  }

  .button_small.outline, .button_small.primary {
    padding-right: 6px;
    padding-left: 6px
  }

  .button_small.outline.is_dark {
    padding-top: 4px;
    padding-bottom: 4px
  }

  .h2_title.text-white.mt0.pb0 {
    padding-right: 0;
    padding-left: 0
  }

  .bottom_cta_wrapper {
    margin-bottom: 120px;
    padding-right: 16px;
    padding-left: 16px;
    border-width: 2px;
    font-size: 14px;
    line-height: 24px
  }

  .link {
    font-size: 14px
  }

  .link-3 {
    margin-top: 24px;
    color: #fff
  }

  ._3drops_content, .text-block-21 {
    font-size: 16px;
    line-height: 24px
  }

  ._3drops_content {
    padding-right: 0;
    padding-left: 0
  }

  .h3_title, .text-block-26 {
    padding-right: 8px;
    padding-left: 8px
  }

  .image-8 {
    width: 40px;
    height: 40px
  }

  .h3_title {
    font-size: 21px;
    line-height: 29px
  }

  .block-quote, .text-block-26 {
    font-size: 16px
  }

  .text-block-26 {
    line-height: 24px
  }

  .block-quote {
    line-height: 24px
  }

  ._3drops_testimonials {
    padding: 16px 8px
  }

  ._3drops_testimonials_figure_wrapper {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }

  .link-block {
    padding-right: 8px;
    padding-left: 8px
  }

  ._3drops_testimonials_heading_wrapper, .image-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto
  }


  .link-block-4 {
    padding-right: 8px;
    padding-left: 8px
  }

  .div-block-33, .testimonial_list_wrapper {
    padding-right: 0;
    padding-left: 0
  }

  .div-block-37 {
    padding-right: 8px;
    padding-left: 8px
  }

  .div-block-39 {
    padding-left: 16px
  }

  .div-block-41 {
    padding-right: 8px;
    padding-left: 8px
  }

  .div-block-42 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }

  .footer-menu-item-extended {
    padding-bottom: 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto
  }

  .footer-inner-wrapper-extended {
    margin-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
  }

  .footer-divider-extended {
    margin-right: 16px;
    margin-left: 16px
  }

  .footer-input-extended.is_big {
    height: 40px;
    font-size: 14px
  }

  .footer-input-extended.is_big.is_dark {
    font-size: 14px
  }

  .footer-input-extended.is_big.is_dark:focus {
    font-size: 16px
  }

  .footer-extended-wrapper {
    margin-top: 40px;
    margin-bottom: 24px
  }

}